@font-face {
  font-family: 'Futura';
  src: url('./fonts/Futura.eot');
  src: url('./fonts/Futura.woff2') format('woff2'),
       url('./fonts/Futura.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLT';
  src: url('./fonts/FuturaLT.woff') format('woff'),
       url('./fonts/FuturaLT.ttf') format('truetype'),
       url('./fonts/FuturaLT.svg#FuturaLT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'lcdmono2normal';
    src: url('./fonts/lcdm-webfont.woff2') format('woff2'),
         url('./fonts/lcdm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: "Savoye W01";
  src: url("./fonts/Savoye W01.eot"); /* IE9*/
  src: url("./fonts/Savoye W01.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/Savoye W01.woff2") format("woff2"), /* chrome、firefox */
  url("./fonts/Savoye W01.woff") format("woff"), /* chrome、firefox */
  url("./fonts/Savoye W01.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./fonts/Savoye W01.svg#./fonts/Savoye W01") format("svg"); /* iOS 4.1- */
}